<!DOCTYPE html> 
<html ng-app="App">
	<head>
		<title>Cotizador Web- Tasas</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	</head>

	<body class="bg-orange">

		<ng-include src="'menu.html'"></ng-include>
        

  

    	<div class="container">

    		<h2>Politicas GPS</h2>
    		<br>	

    		<ng-include src="'modales.html'"></ng-include>	


    	<div class="jumbotron">
         

            <form ng-submit="addpoliticagps(model)">

			<div class='row'>
            <div class="col-md-2">

				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#aseguradora"><i class="fa fa-plus"></i></button>
				Aseguradora :<select  ng-options="item as item.name_asegurad for item in aseguradoras track by item.id_asegurad" type="text" class="form-control" ng-model="model.aseguradora" required =""  ></select>

			</div>

			<div class="col-md-2">

				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalidad"><i class="fa fa-plus"></i></button>
				Modalidad :<select  ng-options="item as item.name_modalidad for item in modalidad track by item.id_modalidad" type="text" class="form-control" ng-model="model.modalidad" required =""  ></select>

			</div>

			<div class="col-md-2">

				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#uso"><i class="fa fa-plus"></i></button>
				Uso:
				<select ng-options="item as item.uso for item in uso track by item.id_uso" type="text" class="form-control" ng-model="model.uso" required ="" ></select>

			</div>
			
			<div class="col-md-2">

				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#aseguradora"><i class="fa fa-cube"></i></button>
				Año :<select  ng-options="item as item.anio_antig for item in anio track by item.id_anio" type="text" class="form-control" ng-model="model.anio" required =""  ></select>

			</div>


			<div class="col-md-2">

				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#programa"><i class="fa fa-plus"></i></button>
				Programa :<select  ng-options="item as item.program for item in programas track by item.id_program" type="text" class="form-control" ng-model="model.programa" required =""  ><option></option></select>

			</div>

			<div class="col-md-2">

				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelo"><i class="fa fa-plus"></i></button>
				Marca / Modelo :<select ng-change='sumasegurada(model)' ng-options="item as item.id_marca__name_marca + '-' + item.id_modelo__name_model for item in man_autos track by item.id_modelo__name_model" type="text" class="form-control" ng-model="model.modelo" required =""  ></select>

			</div>

			<div class="col-md-2">

				<button type="button" class="btn btn-primary btn-sm"><i class="fa fa-cube"></i></button>
				Ubicacion:
				<select ng-options="item as item.label for item in items track by item.id" ng-model="model.ubicacion" class="form-control"></select>

			</div>

		
			<div class="col-md-2">

				<button type="button" class="btn btn-primary btn-sm"><i class="fa fa-cube"></i></button>
				Valor:
				<select ng-model="model.value" class="form-control"  required="required">}
				<option value='Si'>Si</option>
				<option value='No'>No</option>
				</select>

			</div>




            </div>

                <br>
			<button type='submit' class='btn btn-primary'>Agregar</button>
			
			</form>

            </div>

<!--lsklamsd-->

   	<div class="jumbotron">
         

            <form ng-submit="addpoliticasuma(model)">

			<div class='row'>

                        <div class="col-md-4">

                        <label>Aseguradora </label><select  ng-options="item as item.name_asegurad for item in aseguradoras track by item.id_asegurad" type="text" class="form-control" ng-model="model.aseguradora" required =""  ></select>

                        </div>


                        <div class="col-md-4">

                        <label>Programa </label><select  ng-options="item as item.program for item in programas track by item.id_program" type="text" class="form-control" ng-model="model.programa" required =""  ><option></option></select>

                        </div>


                        <div class="col-md-4">

        
                        <label>Suma Asegurada Mínima</label>
                        <input  class='form-control' ng-model="model.suma" class="form-control"></input>


                        </div>



            </div>

                <br>
			<button type='submit' class='btn btn-primary'>Agregar</button>
			
			</form>

            </div>
			<br></br><br></br>


        <!--Filtro de Busqueda-->

        <div class='section '>
            <i class="fa fa-filter" aria-hidden="true"></i>
            <label for='filtro'>Filtro</label>

            <div class='row'>
                <div class='col-md-4'>
                    <input placeholder='Busqueda' ng-model='data' id='filtro' type="" class='form-control' name="">
                </div>
            </div>
        </div>

        <!--Contador-->

      <label><i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
        Resultado  <span ng-if='data'>para {{data}}</span>: {{(man_tasas | filter: data).length }}</label>

			


<table class="table table-striped table-condensed table-hover">
    
        <tbody>

            <thead>

            <tr>
                
 
                <th class="id_aseg__name_asegurad">Id <a ng-click="sort_by('id_aseg__name_asegurad',currentPage)"><i class="icon-sort"></i></a></th>

                <th class="id_aseg__name_asegurad">Aseguradora <a ng-click="sort_by('id_aseg__name_asegurad',currentPage)"><i class="icon-sort"></i></a></th>

                <th class="modalidad__name_modalidad">Programa <a ng-click="sort_by('modalidad__name_modalidad',currentPage)"><i class="icon-sort"></i></a></th>

                <th class="modalidad__name_modalidad">Marca <a ng-click="sort_by('modalidad__name_modalidad',currentPage)"><i class="icon-sort"></i></a></th>

                <th class="modalidad__name_modalidad">Modelo <a ng-click="sort_by('modalidad__name_modalidad',currentPage)"><i class="icon-sort"></i></a></th>

           
                <th class="id_uso__uso" >Uso <a ng-click="sort_by('id_uso__uso',currentPage)"><i class="icon-sort"></i></a></th>
                <th class="tipo__clase" >Anio <a ng-click="sort_by('tipo__clase',currentPage)"><i class="icon-sort"></i></a></th>
                <th class="anio__anio_antig" >Value <a ng-click="sort_by('anio__anio_antig',currentPage)"><i class="icon-sort"></i></a></th>
                <th></th>
               
           
                
            
                            
            </tr>

            </thead>


            <tr  ng-repeat="contact in gps | filter: data" class='active' ts-repeat>



                <td>{{contact.id}}</td>
                <td>{{contact.id_aseg__name_asegurad}}</td>
                
                <td>{{contact.id_prog__program}}</td>

                <td>{{contact.id_auto__id_marca__name_marca}}</td>
                <td>{{contact.id_auto__id_modelo__name_model}}</td>
                <td>{{contact.id_uso__uso}}</td>
                <td>{{contact.anio_antig__anio_antig}}</td>
            
                 <td>{{contact.value}}</td>

                <!--<td>
               
                <a ng-click="editar(contact)" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#edittasa"><i class="fa fa-edit"></i></a>
                 <a ng-click="eliminartasa(contact)" class="btn btn-sm btn-primary" ><i class="fa fa-trash"></i></a>
                </td>-->

            </tr>
        </tbody>


        </table>
				
			

	</body>
</html>
